{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="{% static 'landing/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee&amp;display=swap">
    <link rel="stylesheet" href="{% static 'landing/assets/fonts/font-awesome.min.css' %}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand" href="index.html" data-bs-target="/" style="font-family: ABeeZee, sans-serif;">wms</a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="#services" data-bs-target="">Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="#pricing" data-bs-target="">Pricing</a></li>
                    <li class="nav-item"><a class="nav-link" href="/register" data-bs-target="">Register</a></li>
                    <li class="nav-item"><a class="nav-link" href="/login" data-bs-target="/login">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead" style="background: url('{% static 'landing/assets/img/hero.jpg' %}') center / cover no-repeat;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto position-relative">
                    <div class="site-heading">
                        <h1 style="font-family: ABeeZee, sans-serif;">WMS</h1><span class="subheading">Revolutionizing Waste Collection</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
   
    <section id="services">
        
        <style>
        .border-top {
            border-top-width: 2px !important;
        }
        </style>

        <h3 class="font-weight-bold text-center dark-grey-text pb-2">Our Services</h3>
        <hr class="w-header my-4">
        

        <div class="row d-flex justify-content-center">

            <div class="col-md-6 col-lg-5 col-xl-4">
                <h5 class="font-weight-normal border-top border-light pt-4 mb-4"><a class="dark-grey-text" href="#">Waste Collection and Disposal</a></h5>
                <p class="text-muted mb-5 pb-md-3">Our waste collection and disposal service is designed to simplify and streamline the process of managing your waste. We provide regular collection schedules tailored to your needs, ensuring that your waste is promptly and responsibly disposed of. Our trained professionals handle all types of waste, adhering to strict environmental standards. With our efficient and reliable service, you can enjoy a clean and waste-free environment without any hassle.</p>
            </div>

            <div class="col-md-6 col-lg-5 col-xl-4">
                <h5 class="font-weight-normal border-top border-secondary pt-4 mb-4"><a class="dark-grey-text"
                    href="#">Automated Household Waste Collection</a></h5>
                <p class="text-muted mb-5 pb-md-3">Our automated waste collection service brings convenience and efficiency to your home. With smart waste bins and advanced technology, waste disposal becomes effortless. Say goodbye to manual handling and overflowing bins. Our system automates waste collection on a scheduled basis, ensuring a clean and tidy living space. Experience hassle-free waste management with our automated service.</p>            
            </div>

        </div>
    </section>

    <div class="container py-4 py-xl-5" id="pricing">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2>Pricing</h2>
                <p>We offer flexible pricing plans to suit your needs. Whether you require our services on a monthly basis or prefer to pay per request, we have the right plan for you. Our monthly plans are designed for those who require regular waste management services and provide you with peace of mind knowing that your trash will be taken care of consistently. If you have occasional waste disposal needs, our pay-per-request option allows you to use our services as and when required, ensuring that you only pay for what you need. Choose the plan that best fits your requirements and let us handle your waste management efficiently and responsibly</p>
            </div>
        </div>
        <div>
            <ul class="nav nav-pills d-flex justify-content-center" role="tablist">
                <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="pill" href="#tab-1">Per Request</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-bs-toggle="pill" href="#tab-2">Monthly</a></li>
            </ul>
            <div class="tab-content pt-5">
                <div class="tab-pane" role="tabpanel" id="tab-1">
                    <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                        <div class="col">
                            <div class="card h-100">
                                <div class="card-body flex-grow-0 p-4"><span class="badge bg-primary text-uppercase mb-2">Household</span>
                                    <h4 class="display-4 card-title">Tzs. 50,000<span class="fs-3 fw-normal text-muted">/year</span></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <div class="card-body flex-grow-0 p-4"><span class="badge bg-primary text-uppercase mb-2">Business</span>
                                    <h4 class="display-4 card-title">Tzs. 60,000<span class="fs-3 fw-normal text-muted">/year</span></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <div class="card-body flex-grow-0 p-4"><span class="badge bg-primary text-uppercase mb-2">Enterprise</span>
                                    <h4 class="display-4 card-title">Tzs. 90,000<span class="fs-3 fw-normal text-muted">/year</span></h4>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane active" role="tabpanel" id="tab-2">
                    <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                        <div class="col">
                            <div class="card h-100">
                                <div class="card-body flex-grow-0 p-4"><span class="badge bg-primary text-uppercase mb-2">Household</span>
                                    <h4 class="display-4 card-title">Tzs. 5000<span class="fs-3 fw-normal text-muted">/mo</span></h4>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <div class="card-body flex-grow-0 p-4"><span class="badge bg-primary text-uppercase mb-2">Business</span>
                                    <h4 class="display-4 card-title">Tzs. 6000<span class="fs-3 fw-normal text-muted">/mo</span></h4>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <div class="card-body flex-grow-0 p-4"><span class="badge bg-primary text-uppercase mb-2">Enterprise</span>
                                    <h4 class="display-4 card-title">Tzs. 10,000<span class="fs-3 fw-normal text-muted">/mo</span></h4>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'landing/assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'landing/assets/js/clean-blog.js' %}"></script>
</body>

</html>